{% from 'macrofruta.html' import macro_fruta, macro_carrito %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Mercado Web</title>
  </head>
  <body>
    
    <h1 class="text-center">Bienvenido al mercado web, selecciones sus productos</h1>
    <div class="container">
      <nav class="navbar navbar-light bg-light narbar-fixed-top">
        <div class="container-fluid" style="background-color :green">
          <a class="navbar-brand" href="#" >
            <img src="carrito.png" alt="" width="30" height="24" class="d-inline-block align-text-top" data-bs-toggle="modal" data-bs-target="#exampleModal">
          </a>
        </div>
      </nav>

      <div class="card-columns">
        <div class="row">
          {% for fruta in frutas %}
            {{ macro_fruta(fruta) }}
          {% endfor %}
        </div>
      </div>  


      <!--  Button trigger modal -->
 
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Productos comprados</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card-columns">
              <div class="row" id="frutasmodal">
                <!-- Acá voy a agregar las frutas -->
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>

      const carrito = [];

      $('.imagen').click(function () {
        let imgsrc =$(this).attr('src');
        carrito.push(imgsrc);
        console.log('carrito', carrito)
        $("#frutasmodal").append(`
          <div class="col-4">
            <img src="${imgsrc}" class="w-100 d-block" >
          </div>
        `)
      })


    </script>
  </body>
</html>