{% macro macro_fruta(fruta) %}
<div class="col-3">
    <div class="card" style="width: 18rem;">
        <div class="card">
            <a href="#" data-toggle="modal" data-targer="#{{fruta.url}}">
                <h5 class="card-title">{{ fruta.nombre }}</h5>
                <img src="{{fruta.url}}"  class="card-img-top imagen w-100 d-block">
            </a>
        </div>
    </div>
</div>
{% endmacro %}


{% macro macro_carrito(compra) %}
    <img src="{{banana.png}}"  class="card-img-top imagen w-100 d-block">
{% endmacro %}

<!--
{% macro macro_carrito(compra) %}
<div class="col-6">
    <div class="card" style="width: 18rem;">
        <div class="card">
            <a href="#" data-toggle="modal" data-targer="#{{ compra.url }}">
                <img src="{{ compra.url }}"  class="card-img-top productos w-100 d-block">
            </a>
        </div>
    </div>
</div>
{% endmacro %}

-->